@import '../styles/page1.css';

.h1 {
    font-weight: 700;
}

.badge {
    background-color: var(--Badge-Bg);
    padding: 0.4rem 0.9rem;
    border-radius: 100vw;
    color: hsl(var(--Orange) , .85);
}

.img svg {
    transform: scale(.9);
}

.wrapper {
    max-width: 18.2rem;
}

main.wrapper {
    text-align: center;
}